.sg_height_90vh {
  height: 90vh;
}

.sg_height_80vh {
  height: 80vh;
}

.sg_height_10vh {
  height: 10vh;
}


.sg_width_70{
  width: 70%;
}

.sg_padding_left_25pr{
  padding-left: 25%;
}

.sg_padding_right_25pr{
  padding-right: 25%;
}

/* Стили для базового шаблона*/
.left_base {
  background-color: #424bb2;
}

.right_base {
  background-color: #e6e6e6;
}

.base_row {
  margin: 0
}

.sg_padding_none{
  padding: 0;
  margin: 0;
}

.main_button {
  color: #424bb2;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  white-space: pre-wrap;
  line-height: 1;
  z-index: 2;
}

.main_button:hover{
  color: #424bb2;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff;
  border: 1px solid #15ced2;
  box-shadow: none;
  white-space: pre-wrap;
  line-height: 1;
  z-index: 2;
}

.main_button:focus{
  color: #424bb2;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff;
  border: none ;
  box-shadow: none;
  white-space: pre-wrap;
  line-height: 1;
  z-index: 2;
}

.main_button:active{
  color: #424bb2;
  font-weight: bold;
  font-size: 20px;
  background: #ffffff;
  border: 1px solid #15ced2;
  box-shadow: none;
  white-space: pre-wrap;
  line-height: 1;
  z-index: 2;
}

.login_button{
  background-color: #424bb2;
  color: #ffffff;
  margin-right: 20px;
}

/* Стили для главной страницы*/

.organize_game {
  color: #15ced2;
  font-weight: bold;
  font-size: 55px;
  text-decoration: none;
}

.sg_text_area_choice {
  color: #404cb0;
  font-weight: bold;
  font-size: 55px;
  text-decoration: none;
}

.sg_text_area_choice {
  color: #404cb0;
  font-weight: bold;
  font-size: 55px;
  text-decoration: none;
}

.sg_text_area_choice:hover,
.sg_text_area_choice:focus,
.sg_text_area_choice:active {
	color: #15ced2;
}

/* Стили для страницы спорт площадки*/

.sg_info_row{
  background-color: #FFB98C;
  color: black;
}

.sg_label_form_text{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.sg_label_form_text_href{
  color: #15ced2;
}

.sg_h2 {
  color: #15ced2;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

/* CSS */
.list-counter-square {
list-style: none;
margin: 0;
padding: 0;
}
.list-counter-square>li {
position: relative;
display: block;
margin-bottom: .25rem;
padding: .325rem .825rem .325rem 1.325rem;
color: #fff;
background: #C2185B;
}
.list-counter-square>li:last-child {
margin-bottom: 0;
}
.list-counter-square>li::before {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 0.5rem;
background: #ec407a;
}