.map {
	width: 99%;
	height: 99%;
	padding: 0;
	margin: 0;
	a {
        color: #04b; /* Цвет ссылки */
        text-decoration: none; /* Убираем подчеркивание у ссылок */
    }
    a:visited {
        color: #04b; /* Цвет посещённой ссылки */
    }
    a:hover {
        color: #f50000; /* Цвет ссылки при наведении на нее курсора мыши */
    }

}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(0);