<div class="col left_base position-relative">
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-primary main_button position-absolute top-50 start-100 translate-middle"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">О нас</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable mw-100 w-75 p-3">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Информация о нас Информация о нас Информация о нас Информация о нас Информация о нас Информация о нас
            Информация о нас Информация о нас Информация о нас Информация о нас Информация о нас Информация о нас
            Информация о нас Информация о нас мИнформация о нас Информация о нас Информация о нас Информация о нас
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>