{% extends "base.html" %}

{# 1. Блок для левой полонвинки главной страницы#}
{% block left_up_content %}
<div class="row h-50 position-relative">
    <div class="position-absolute top-50 end-0 translate-middle-y sg_padding_left_25pr">
        <p class="organize_game" >СОБЕРИ КОМАНДУ<br>и сыграй :)</p>
    </div>
</div>
<div class="row h-50">

</div>
{% endblock %}

{# 2. Блок для правой полонвинки главной страницы#}
{% block right_up_content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div class="row h-50 position-relative">
    <div class="position-absolute top-50 start-0 translate-middle-y sg_padding_left_25pr">
        <a class="sg_text_area_choice" href="{{ url_for('sport_ground_choice') }}">ВЫБРАТЬ площадку</a>
    </div>
</div>
<div class="row h-50">

</div>
{% endblock %}

