{% extends "base.html" %}

{# 1. Блок для левой полонвинки главной страницы#}
{% block left_up_content %}

{# верхняя строчка для для информации о площадке #}
<div class="row sg_height_10vh">
    <div class="sg_info_row sg_padding_none position-relative">
        <span class="text-center position-absolute top-50 start-50 translate-middle">
            {{ sport_ground.address }}
        </span>
    </div>
</div>


    {# Основная часть со списком будующих игр й#}
    <div class="row sg_height_80vh">
        <div class="position-relative">
        <h2 class="sg_h2 mb-5 text-center pt-5">ОРГАНИЗОВАТЬ игру</h2>
            <div class="sg_width_70 position-absolute top-50 start-50 translate-middle">
                {#    Блок с системными сообщениями#}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {% for message in messages %}
                                {{ message }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}


                {% if current_user.is_authenticated %}
                <form action="{{ url_for('process_area', page_id=request.view_args['sport_ground_id']) }}" method="POST"  novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row pb-3">
                        <label for="" class="col sg_label_form_text">{{ form.game_date.label }}</label>
                        <div class="col">{{ form.game_date }}</div>
                        {% for error in form.game_date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row pb-3">
                        <label for="" class="col sg_label_form_text">{{ form.duration_game.label }}</label>
                        <div class="col">{{ form.duration_game(size=5) }}</div>
                        {% for error in form.duration_game.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row pb-3">
                        <label for="" class="col sg_label_form_text">{{ form.type_game.label }}</label>
                        <div class="col">
                            {{ form.type_game(size=1) }}
                        </div>
                        {% for error in form.type_game.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row pb-3">
                        <label for="" class="col sg_label_form_text">{{ form.max_players.label }}</label>
                        <div class="col">
                            {{ form.max_players(size=1) }}
                        </div>
                        {% for error in form.max_players.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row pb-2 ">
                        <label for="" class="col sg_label_form_text">{{ form.age_range.label }}</label>
                        <div class="col d-flex justify-content-around my-3">
                            {% for subfield in form.age_range %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                        {% for error in form.age_range.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="row pb-2">
                        <label for="" class="col sg_label_form_text">{{ form.game_level.label }}</label>
                        <div class="col d-flex justify-content-around my-3">
                            {% for subfield in form.game_level %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                        {% for error in form.game_level.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <button class="btn btn-sm btn-secondary" type="submit">{{ form.submit() }}</button>
                </form>
                {% else %}
                <span class="sg_label_form_text">ДЛЯ СОЗДАНИЯ игры надо</span>
                <a class="sg_label_form_text sg_label_form_text_href"
                   href="{{ url_for('login') }}">
                   аторизоваться
                </a>
                <span class="sg_label_form_text">или</span>
                <a class="sg_label_form_text sg_label_form_text_href"
                   href="{{ url_for('register') }}">
                   зарегистрироваться
                </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}


{# 2. Блок для правой полонвинки главной страницы#}
{% block right_up_content %}
    {# верхняя строчка с картой#}
    <div class="row sg_height_10vh">
        <div class="sg_padding_none">
            <div id="map" class="w-100 h-100 sg_padding_none"></div>
        </div>
    </div>

    {# Основная часть со списком будующих игр й#}
    <div class="row sg_height_80vh">
        <div class="position-relative">
            <h2 class="sg_h2 mb-1 text-center pt-5">СПИСОК ближайших игр</h2>
            <div class="sg_width_70 position-absolute top-50 start-50 translate-middle">
                <ol class="list-group list-group-numbered">
                    Игры на сегодня
                    {% for game in games %}
                    <li class="list-group-item">{{ game.start_time }}</li>
                    {% endfor %}

                </ol>
            </div>
        </div>
    </div>
{% endblock %}